# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

1. 숫자형
2. 문자열

In [1]:
print("3번째 수업")

3번째 수업

In [3]:
123

123

## 1절 숫자형

In [4]:
123

123

In [5]:
456

456

In [6]:
1+2

3

In [7]:
3/9

0.3333333333333333

In [8]:
5*6

30

In [9]:
-7/4

-1.75

In [10]:
7//4

1

In [11]:
7%4

3

In [12]:
1-0.03

0.97

In [13]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익 계산

In [31]:
revenue = 98456

In [32]:
cost = 45000

In [33]:
profit = revenue - cost

In [34]:
profit

53456

In [35]:
print(profit)

53456

## 2절 문자열

In [14]:
boy = "I am a boy"
boy

'I am a boy'

In [26]:
girl = ' I am a girl'
girl

' I am a girl'

In [24]:
friend = """
I am a boy
I am a girl
"""

In [27]:
boy + girl

'I am a boy I am a girl'

In [28]:
boy + '  ' + girl

'I am a boy   I am a girl'

In [29]:
boy * 5

'I am a boyI am a boyI am a boyI am a boyI am a boy'

In [41]:
# 문자열 인덱싱
a = "Life is too short, you need python"

In [43]:
a[0]

'L'

In [46]:
# 문자열 슬라이싱

In [44]:
a[12:16]

'shor'

In [45]:
a[0] + a[10] + a[14]

'Loo'

In [47]:
a[8:]

'too short, you need python'

In [48]:
a[:20]

'Life is too short, y'

### Lab 2
#### 문자열 다루기

In [37]:
a = "I love python!"
b = "you hate python!"

In [66]:
a = "20180330Sunny"

In [53]:
year = a[0:4]
year

'2018'

In [55]:
month = a[4:6]
month

'03'

In [56]:
day = a[6:8]
day

'28'

In [57]:
weather = a[8:]
weather

'Sunny'

In [58]:
print (year, month, day, weather)

2018 03 28 Sunny

In [60]:
print (year, '년', month, '월', day, '일')

2018 년 03 월 28 일

In [61]:
"year년 month월 day일 날씨는 weather 입니다."

'year년 month월 day일 날씨는 weather 입니다.'

In [67]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다." .format(year=year, month=month, day= day, weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다.'

### 문자열 내장함수

In [71]:
a = "hobby"
a.count('b')

2

In [72]:
a.count('o')

1

In [79]:
# 위치 알려주기
a.find('b')

2

In [81]:
# 위치 알려주기 2
a = "hobby"
a.index('o')

1

In [83]:
# 문자열 삽입하기
a = ", "
a.join("abcd")

'a, b, c, d'

In [84]:
# 대문자로
a = "I love python"
a.upper()

'I LOVE PYTHON'

In [85]:
# 소문자로
a. lower()

'i love python'

In [86]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [87]:
a.rstrip()

' hi'

In [88]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lab 2 이어서

In [89]:
a = "I love python!"
b = "you hate Python!"

In [90]:
a.index('o')

3

In [92]:
a.find('o')

3

In [93]:
b.index('o')

1

In [94]:
a.count('o')

2

In [96]:
a. upper()

'I LOVE PYTHON!'

In [97]:
a. lower()

'i love python!'

In [99]:
a.split()

['I', 'love', 'python!']

In [100]:
a_6 = a[0:7]
a_6

'I love '

In [101]:
a_6.rstrip()

'I love'

### lab 3 
#### 문자열 포매팅

In [68]:
pi = 3.141592
sq_root = 1.41429

In [70]:
"pi is {pi}, and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'pi is 3.141592, and square root of 2 is 1.41429'

## 3절 리스트